#page-teacher-list {
	width: 100vw;
	height: 100vh;
}

#search-teachers {
	margin-top: 3.2rem;
}

/*
a linha abaixo está fazendo referência a apenas aos input block que antes dele tem outro, ou seja, ele irá considerar apenas o último e o penúltimo, o primeiro como não tem um antes dele, não será afetado por essa margin-top
*/
#page-teacher-list main {
	margin: 3.2rem auto;
	width: 90%;
}

@media (min-width: 700px) {
	#page-teacher-list {
		max-width: 100%;
	}

	#search-teachers {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 16px;
		position: absolute;
		bottom: -28px;
	}

	#search-teachers .input-block + .input-block,
	#search-teachers .select-block + .select-block {
		margin-top: 0;
	}

	#page-teacher-list main {
		padding: 3.2rem 0;
		max-width: 740px;
		margin: 0 auto;
	}
}
